<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'drafts', :plugin => :redmine_drafts %>
<% end %>
<%= yield :header_tags %>

<% if !@page.nil? %>
<%= observe_form :"wiki_form",
                   :update => :"draft-status",
                   :frequency => 15,
                   :function => "document.getElementById('ajax-indicator').firstChild.firstChild.nodeValue = '" + l(:label_draft_saving) + "';"
    %>
<%= observe_form :"wiki_form",
                   :url => autosave_drafts_path(:wiki_id => @page.id),
                   :method => :post,
                   :update => :"draft-status",
                   :frequency => 15,
                   :complete => "Effect.Appear('draft-status'); if (!$('draft-status').empty() && $('draft-pending')) { $('draft-pending').hide(); }"
    %>

<div id="draft-status" style="display:none;"></div>

<% if @page.new_record? && params[:content].nil? %>
  <% draft = Draft.find_for_wiki(:element_id => 0, :user_id => User.current) %>
<% elsif !@page.new_record? %>
  <% draft = Draft.find_for_wiki(:element_id => @page.id, :user_id => User.current) %>
<% end %>
<% if draft %>
  <div id="draft-pending">
    <%= render :partial => 'drafts/pending', :locals => { :draft => draft } %>
  </div>
<% end %>

<% end %>